# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\FOTIN\OneDrive - University of Cambridge\University - Personal\Engineering IIB\Project\Code\env_Boeing\gym-Boeing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
